@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Face  */
@font-face {
  font-family: Bahnschrift;
  src: url('/public/images/BAHNSCHRIFT.woff2') format('woff2');
}

*{
  font-family: Bahnschrift;
  font-optical-sizing: auto;
  color: #F6F6F6;
}

html {
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0A0A0A;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Toastify__toast {
  margin-bottom: 20px !important;
}